<div id="indForm">
    <label for="selectService">Title</label>
    <select class="form-control" id="select-service" name="title">
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Ms">Ms</option>
        <option value="Miss">Miss</option>
        <option value="Dr">Dr</option>
    </select>
    <label for="firstname">Firstname:</label>
    <input type="text" class="form-control" name="firstname">
    <label for="lastname">Lastname:</label>
    <input type="text" class="form-control" name="lastname">
</div>